google-cloud-error-reporting==0.30.1
google-cloud-pubsub==0.39.1
python-dateutil==2.8.0
requests==2.21.0
xmltodict==0.11.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
grpcio>=1.53.2 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
